<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{page.title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="http://hl7.org/fhir"/>

  <link href="fhir.css" rel="stylesheet"/>

  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link href="css/bootstrap-fhir.css" rel="stylesheet"/>
  <link href="css/project.css" rel="stylesheet"/>
</head>

<body>

<div id="segment-content" class="segment">  <!-- segment-content -->
<div class="container">  <!-- container -->
<div class="row">
<div class="inner-wrapper">
<div class="col-9">

<a href="index.html">Home</a>
